/* ###### Global Styles ###### */

:root {
  --white: #eeeeee;
  --body-copy: "Inter Tight", sans-serif;
  --border-radius: 25px;
  --border-radius-button: 5px;
  --hover-color: #b8b8b8;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  background-color: transparent;
}

html,
body {
  line-height: 1.5;
  font-size: 1rem;
  color: #000;
  font-family: var(--body-copy);
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  background-color: var(--white);
}

img {
  height: auto;
  max-width: 100%;
  object-position: center;
  object-fit: cover;
}

button {
  all: unset;
  cursor: pointer;
}

code {
  font: revert;
  color: rgb(2, 255, 10);
  background-color: #333;
  padding: 2px 2px;
  border-radius: 4px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 10px;
  color: rgb(2, 255, 10);
  background-color: #333;
  border-radius: 5px;
  margin: 10px 0;
  font: revert;
  max-height: 500px;
  overflow-x: auto;
  scrollbar-width: auto;
}

i {
  font: revert;
}

/* lazy loading */

.blur-load::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: pulse 2.5w infinite;
}

.blur-load.loaded::before {
  content: none;
}

@keyframes pulse {
  0% {
    background-color: rgb(255, 255, 255, 0);
  }
  50% {
    background-color: rgb(255, 255, 255, .1);
  }
  100% {
    background-color: rgb(255, 255, 255, 0);
  }
}

.blur-load {
  background-size: cover;
  background-position: center;
  position: relative;
}

.blur-load.loaded > img {
  opacity: 1;
}

.blur-load > img {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

#preloader {
  background: #fff url(/assets/loader/loader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}